imbalanced-learn==0.8.1
imblearn==0.0
iteration_utilities==0.11.0
jupyter==1.0.0
matplotlib==3.4.3
pandas==1.4.2
protobuf==3.20.0
pyarrow==7.0.0
python-dotenv==0.20.0
requests==2.27.1
scikit-learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
setuptools==61.2.0
tensorboard==2.8.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cu115
torchinfo==1.6.5
tqdm==4.63.0